/* Light Mode */
body {
  background-image: url("../img/wall.jpg");
}

#main {
  background-image: url("../img/body_wall.jpg");
}

/* Rest of the styles remain the same */
.button {
  background-color: #fff;
  color: #000;
}

.button:hover {
  background-color: #000;
  color: #fff;
}
