body {
	margin: 50px;
	background-color: #000;
	background-image: url("../img/wall.jpg");
}

#head {
	position: relative; 
	text-align: center;
	padding-bottom: 25px;
}

#head h1 {
	color: blue;
}

#main{
	padding: 25px;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.75);
}

 /* unvisited link */
.nav-item a:link {
  color: white;
}

/* visited link */
.nav-item a:visited {
  color: white;
}

/* mouse over link */
.nav-item a:hover {
  color: blue;
}

/* selected link */
.nav-item a:active {
  color: blue;
} 

#sidebar img{
	/*width: 50%;*/
	padding-left: 75px;
}

#content {
	color: white;
}

#footer {
	color: #777777;
	text-align: center;
	position: relative;
	padding-top: 50px;
	FONT-SIZE: 12px;
}