
body {
  margin: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

#head {
  position: relative;
  text-align: center;
  padding-bottom: 25px;
}

#head h1 {
  color: #077fff;
}

#main {
  padding: 25px;
  margin-top: 5px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  color: #777777;
  text-align: center;
  position: relative;
  padding-top: 50px;
  font-size: 12px;
  max-width: 50%;
  margin-left: 25%;
}

#about h3 {
  text-align: center;
}

#about abbr {
  text-decoration: none;
}

#right {
  margin-left: 40px;
}

.mascot {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: -1;
  max-height: 200px;
}

#blue {
  color: #ADD8E6;
}

#author {
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
  object-fit: cover; 
  object-position: center; 
}

.release-year {
  font-style: italic;
  font-size: 9px;
  color: #777777;
}

#lists li {
  font-size: 12px;
}

#about {
  margin-bottom: 25px;
}

#lists {
  display: flex;
  justify-content: space-between;
}

#lists .col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
